
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');

.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: 5rem;
  font-style: normal;
  letter-spacing: 0;
  line-height: 132;
}

.navbar {
  color: black;
  font-size: 160%;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-between;
  background-color: #dedede;
  border-bottom: 1px solid #ccc;
}

.linkedin {
  height: 25px;
  width: auto;
  vertical-align: middle;
}

#myName {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 130px;
  line-height: 1.1; 
  z-index: 1;                   
}

#welcomeText {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.1;    
  padding-bottom: 15px;
}

#aboutText {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.1;    
}

.heroContainer {
  display: flex;
  flex-direction: row; /*default*/
  padding-top: 15rem; 
  gap: 5rem;
}

.heroLeft {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-left: 2px solid black;
  padding-left: 3rem;
}

.decorativeBubbles {
  position: absolute;
  top: 0;
  left: 0;   
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; /* aligns all items to start of axis (row) */
  align-items: center;
  z-index: 0;
}

.decorativeBubbles img {
  width: 70%;
  opacity: .65;
}

.positionsContainer {
  display: flex;
  flex-direction: row; /*default*/
  justify-content: center;
  padding-top: 15rem; 
  gap: 5rem;
}

.positionCard {
  background-color: #dcdcdc;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  width: clamp(200px, 25vw, 300px);
  height: clamp(70px, 18vh, 120px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.positionCard h1 {
  font-size: 1rem;
  font-weight: 700;
}

.professionalLinks{
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /*default*/
  justify-content: center;
  padding-top: 10rem; 
  gap: 3rem;
}

.individualProjectContainer {
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
  max-width: 420px;  
}

.projectTextTitle {
  padding-left: 7px;
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;   
}

.projectText {
  padding-left: 7px;
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.1;   
}

.projectCard img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
}