.coverFlow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
    padding: 100px 0;
}

.album {
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
}

.albumCurrent {
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
}

.album img {
    width: 300px;
    height: auto;
    display: block;
}

.albumCurrent img {
    width: 700px;
    height: auto;
    display: block;
    padding-bottom: 1rem;
}

.albumTitle {
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.albumDescription {
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}