
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

.hero-container {
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.header-text {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 130px;
    font-style: normal;
    font-weight: 600;
    line-height: 132px;
}

.subtext {
    padding-left: 4rem;
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
}

#about {

}